<section class="hero">
  <h2 class="header-text">STAY ALERT FOR ALL THE RAINS!</h2>
  <h3>Last rain: {{ formattedDate }}<div id="dataDisplay"></div>
  </h3>
  <img src="/assets/imgs/landing1.png" alt="">
  <a href="#rains"><span class="arrow">&nbsp</span></a>
</section>
<section id="rains" class="rains">
  <div class="container">
    <h2>
      Claim your Roobet rains alerts now!
    </h2>
    <table id="dataTable">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Crypto</th>
          <th>Status</th>
          <th>Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr id="dataRow">
          <td id="amountCell">${{last_rain.amount}}</td>
          <td id="balanceCell">{{last_rain.balanceType}}</td>
          <td id="statusCell">{{last_rain.status}}</td>
          <td id="creatorCell">{{last_rain.creatorName}}</td>
        </tr>
      </tbody>
    </table>
    {{!-- {{#if isUser}} onclick="" {{/if}} --}}
    <button id="claim-chucoin" disabled> Claim {{coinname}}!</button>
  </div>
  {{#unless user}}
  <a class="claim-login" href="/login">To claim a coin, you must be logged in.</a>
  {{/unless}}
  <div class="faq">
    <article class="question">
      <h3>How does {{pagename}} work?</h3>
      <p>When a new rain is created, either by a user or roobet itself, the browser will make an alert sound and display
        the rain info in the table. Also, you can claim the rain on-site to get a {{coinname}}. You can have the site in
        the background.</p>
      </p>
    </article>
    <article class="question">
      <h3>What are {{coinname}}?</h3>
      <p>Whenever a new rain is Active, you can claim a {{coinname}} by clicking the button above. These coins can later
        be exchanged for roobet balance.</p>
    </article>
    <article class="question">
      <h3>Disclaimer</h3>
      <p>This is not a rain auto-claimer.</p>
    </article>
  </div>
</section>
<script src="/js/claimRain.js"></script>
<script src="/js/logout.js"></script>