<section class="profile">
  <div class="information">
    <h2>My profile</h2>
    <div class="profile-info">
      <h3>Username: {{user.name}}</h3>
      <h3>Email: {{user.email}}</h3>
      <h3>{{coinname}}s: {{user.coins}}</h3>
      <h3>{{user.claimedrains}}</h3>
    </div>
  </div>
</section>