<!doctype html>
<html lang="es">

<head>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="shortcut icon" href="/assets/imgs/logo.svg" type="image/x-icon">
  <title>{{title}}</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SJG2T2X9NR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-SJG2T2X9NR');
  </script>

  <!-- Google AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9936683072689327"
    crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <div class="logo">
      <a href="/"><img class="logo-img" src="/assets/imgs/logo.svg" alt="">
        <h1 class="logo-text">{{pagename}}</h1>
      </a>
    </div>
    <nav {{#if inLogin}} class="hidden-nav" {{/if}}>
      {{inLogin}}
      <ul>
        {{#if user}}
        <li class="menu-item">{{coinname}}s: {{user.coins}}</li>
        <li class="menu-item"><a href="/profile">{{user.name}}</a></li>
        <li class="menu-item"><a href="/logout" id="logout">Logout</a></li>
        {{else}}
        <li class="menu-item"><a href="/login">Login</a></li>
        <li class="menu-item"><a href="/register">Register</a></li>
        {{/if}}
        <li class="menu-item"><a href="#coming-soon">Ranking</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>

  </footer>


  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>


</body>

</html>