<!doctype html>
<html lang="es">

<head>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="shortcut icon" href="/assets/imgs/logo.svg" type="image/x-icon">
  <title>{{title}}</title>
</head>

<body>

  <header>
    <div class="logo">
      <a href="/"><img class="logo-img" src="/assets/imgs/logo.svg" alt="">
        <h1 class="logo-text">{{pagename}}</h1>
      </a>
    </div>
    <nav {{#if inLogin}} class="hidden-nav" {{/if}}>
      {{inLogin}}
      <ul>
        {{#if user}}
          <li class="menu-item"><a href="#cooming-soon">{{user.name}}</a></li>
          <li class="menu-item"><a href="/logout" id="logout">Logout</a></li>
        {{else}}
          <li class="menu-item"><a href="/login">Login</a></li>
          <li class="menu-item"><a href="/register">Register</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>

  </footer>


  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>

</body>

</html>